{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>{{title}}</h1>

{% if complete %}
    <p>{{complete}} has been created</p>
{% endif %}

{% if type %}
    <form action="" method="POST" enctype="multipart/form-data" name="start">
        {% csrf_token %}
        <p>{{ type.type.label }}: {{ type.type }}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="start" /></p>
    </form>
{% elif closet %}
    <form action="" method="POST" enctype="multipart/form-data" name="closet">
        {% csrf_token %}
        <p>Name: {{closet.Name}}</p>
        <p>Old Name: {{closet.Old_Name}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="closet" /></p>
    </form>
<!--
{% elif School %}
    <form action="" method="POST" enctype="multipart/form-data" name="school">
        {% csrf_token %}
        <p>Name: {{School.Name}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="school" /></p>
    </form>
    -->
{% elif panel %}
    <form action="" method="POST" enctype="multipart/form-data" name="panel">
        {% csrf_token %}
        <p>Name: {{panel.Name}}</p>
        <p>Voltage: {{panel.Voltage}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="panel" /></p>
    </form>
{% elif room %}
    <form action="" method="POST" enctype="multipart/form-data" name="room">
        {% csrf_token %}
        <p>Name: {{room.Name}}</p>
        <p>Old Name: {{room.OldName}}</p>
        <p>Type: {{room.Type}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="room" /></p>
    </form>
<!--
{% elif circuit %}
    <form action="" method="POST" enctype="multipart/form-data" name="circuit">
        {% csrf_token %}
        <p>Name: {{circuit.Name}}</p>
        <p>Number: {{circuit.Number}}</p>
        <p>Panel: {{circuit.Panel}}</p>
        <p>Rooms: {{circuit.Rooms}}</p>
        <p>School: {{circuit.School}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="circuit" /></p>
    </form>
-->
{% elif device %}
    <form action="" method="POST" enctype="multipart/form-data" name="device">
        {% csrf_token %}
        <p>Name: {{device.Name}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="device" /></p>
    </form>
{% endif %}
<form action="" method="GET" enctype="multipart/form-data">
    <input type="hidden" name="school_choice" value = "{{school_choice}}">
</form>
{% endblock %}