{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>{{title}}</h1>

{% if complete %}
    <p>{{complete}} has been created</p>
{% endif %}

{% if type %}
    <form action="" method="POST" enctype="multipart/form-data" name="start">
        {% csrf_token %}
        <p>{{ type.type.label }}: {{ type.type }}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="start" /></p>
    </form>
{% elif closet %}
    <form action="" method="POST" enctype="multipart/form-data" name="closet">
        {% csrf_token %}
        <p>Name: {{closet.Name}}</p>
        <p>School: {{closet.School}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="closet" /></p>
    </form>
<!--
{% elif School %}
    <form action="" method="POST" enctype="multipart/form-data" name="school">
        {% csrf_token %}
        <p>Name: {{School.Name}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="school" /></p>
    </form>
    -->
{% elif panel %}
    <form action="" method="POST" enctype="multipart/form-data" name="panel">
        {% csrf_token %}
        <p>Name: {{panel.Name}}</p>
        <p>Voltage: {{panel.Voltage}}</p>
        <p>location: {{panel.Location}}</p>
        <p>panels: {{panel.Panels}}</p>
        <p>school: {{panel.School}}</p>
        <p>closets: {{panel.Closet}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="panel" /></p>
    </form>
{% elif room %}
    <form action="" method="POST" enctype="multipart/form-data" name="room">
        {% csrf_token %}
        <p>Name: {{room.Name}}</p>
        <p>OldName: {{room.OldName}}</p>
        <p>Type: {{room.Type}}</p>
        <p>School: {{room.School}}</p>
        <p>Panels: {{room.Panels}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="room" /></p>
    </form>
{% elif circuit %}
    <form action="" method="POST" enctype="multipart/form-data" name="circuit">
        {% csrf_token %}
        <p>Name: {{circuit.Name}}</p>
        <p>Number: {{circuit.Number}}</p>
        <p>Panel: {{circuit.Panel}}</p>
        <p>Rooms: {{circuit.Rooms}}</p>
        <p>School: {{circuit.School}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="circuit" /></p>
    </form>
{% elif device %}
    <form action="" method="POST" enctype="multipart/form-data" name="circuit">
        {% csrf_token %}
        <p>Name: {{device.Name}}</p>
        <p>Circuit: {{device.Number}}</p>
        <p>School: {{device.Panel}}</p>
        <p>Power: {{device.Rooms}}</p>
        <p>Location: {{device.Devices}}</p>
        <p>Room: {{device.Room}}</p>
        <p><input type="submit" class="btn btn-default" value="Add" name="circuit" /></p>
    </form>
{% endif %}
{% endblock %}