{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>Change Log:</h1>
<p>Time: 2017-07-02 21:52:56.137086, School: Andover High School, User: energizeandover, Description: Circuit-Device Change: Device Exit Signs Entrance / Closing (E/C) 4th Floor removed from Circuit LE3.6</p>
<p>Time: 2017-07-02 21:48:05.944862, School: Andover High School, User: energizeandover, Description: Circuit Number Change: 7 -->6</p>
<p>Time: 2017-07-02 21:48:03.819258, School: Andover High School, User: energizeandover, Description: Circuit Name Change: LE3.7 -->LE3.6</p>
<p>Time: 2017-07-02 21:47:58.768967, School: Andover High School, User: energizeandover, Description: Circuit Name Change: LE3.6 -->LE3.7</p>
<p>Time: 2017-07-02 21:47:53.948848, School: Andover High School, User: energizeandover, Description: Circuit Number Change: 6 -->7</p>
<p>Time: 2017-07-02 21:44:35.278796, School: Andover High School, User: energizeandover, Description: Circuit Notes Change:  -->NOTES NOTES NOTES</p>
<p>Time: 2017-07-02 14:51:04.876917, School: Andover High School, User: energizeandover, Description: Device Zone Change: ZN-10 -->ZN-10</p>
<p>Time: 2017-07-02 14:50:43.786196, School: Andover High School, User: energizeandover, Description: Device Zone Change: None -->ZN-10</p>
<p>Time: 2017-07-02 14:50:38.674137, School: Andover High School, User: energizeandover, Description: Device Power Change: NA -->3 HP</p>
<p>Time: 2017-07-02 14:48:32.092846, School: Andover High School, User: energizeandover, Description: Device Power Change: NA -->3 HP</p>
<p>Time: 2017-07-02 14:47:59.191649, School: Andover High School, User: energizeandover, Description: Room Notes Change:  -->Fan 1</p>
<p>Time: 2017-07-02 14:47:49.796769, School: Andover High School, User: energizeandover, Description: F-1 is now associated with AHU-3.</p>


<p><a href="{% url 'energize_andover:electric' %}">Return to School Select</a></p>
{% endblock %}