{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>Change Log:</h1>
<p>Time: 2017-06-30 15:31:24.633994, School: Andover High School, User: energizeandover, Description: Panel Name Change: PDA -->PBA. All Affected Circuits and Panels renamed accordingly. </p>
<p>Time: 2017-06-30 15:29:44.573640, School: Andover High School, User: energizeandover, Description: Panel Name Change: PBA -->PDA. All Affected Circuits and Panels renamed accordingly. </p>
<p>Time: 2017-06-30 14:57:21.915978, School: Andover High School, User: energizeandover, Description: Parent Panel Change on PBA: MSWB -->MSWB. All Affected Circuits and Panels renamed accordingly. </p>
<p>Time: 2017-06-30 14:56:36.197352, School: Andover High School, User: energizeandover, Description: Parent Panel Change on PBA: MSWB -->MSWB. All Affected Circuits and Panels renamed accordingly. </p>
<p>Time: 2017-06-30 14:55:15.909970, School: Andover High School, User: energizeandover, Description: Parent Panel Change on PBA: HSHTA -->MSWB. All Affected Circuits and Panels renamed accordingly. </p>
<p>Time: 2017-06-30 14:55:04.134180, School: Andover High School, User: energizeandover, Description: Parent Panel Change on PBA: MSWB -->HSHTA. All Affected Circuits and Panels renamed accordingly. </p>
<p>Time: 2017-06-30 14:54:12.511530, School: Andover High School, User: energizeandover, Description: Parent Panel Change on PBA: MSWB -->MSWB. All Affected Circuits and Panels renamed accordingly. </p>
<p>Time: 2017-06-30 14:52:18.432043, School: Andover High School, User: energizeandover, Description: Parent Panel Change on PBA: LGB -->MSWB. All Affected Circuits and Panels renamed accordingly. </p>
<p>Time: 2017-06-30 14:51:00.028817, School: Andover High School, User: energizeandover, Description: Parent Panel Change on PBA: MSWB -->LGB. All Affected Circuits and Panels renamed accordingly. </p>
<p>Time: 2017-06-30 14:50:27.910248, School: Andover High School, User: energizeandover, Description: Parent Panel Change on PBA: MSWB -->LGB. All Affected Circuits and Panels renamed accordingly. </p>


<p><a href="{% url 'energize_andover:electric' %}">Return to School Select</a></p>
{% endblock %}