{% extends "pages/richtextpage.html" %}

{% block extra_js %}
    <!-- Pick a theme, load the plugin & initialize plugin -->

    <style>
	.left { float: left; }
	.right {
		float: right;
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select: none;
	}
	.pager .prev, .pager .next, .pagecount { cursor: pointer; }
	.pager a {
		text-decoration: none;
		color: black;
	}
	.pager a.current {
		color: #0080ff;
	}
	</style>

	<script>
	$(function(){
		$('table').tablesorter({
			widgets        : ['zebra', 'filter', 'columns'],
			usNumberFormat : false,
			sortReset      : true,
			sortRestart    : true
		});
	});
	</script>

    <script id="js">$(function(){

	// initialize custom pager script BEFORE initializing tablesorter/tablesorter pager
	// custom pager looks like this:
	// 1 | 2 ... 5 | 6 | 7 ... 99 | 100
	//   _       _   _        _     adjacentSpacer
	//       _           _          distanceSpacer
	// _____               ________ ends (2 default)
	//         _________            aroundCurrent (1 default)

	var $table = $('table'),
		$pager = $('.pager');

	$.tablesorter.customPagerControls({
		table          : $table,                   // point at correct table (string or jQuery object)
		pager          : $pager,                   // pager wrapper (string or jQuery object)
		pageSize       : '.left a',                // container for page sizes
		currentPage    : '.right a',               // container for page selectors
		ends           : 2,                        // number of pages to show of either end
		aroundCurrent  : 1,                        // number of pages surrounding the current page
		link           : '<a href="#">{page}</a>', // page element; use {page} to include the page number
		currentClass   : 'current',                // current page class name
		adjacentSpacer : '<span> | </span>',       // spacer for page numbers next to each other
		distanceSpacer : '<span> &#133; <span>',   // spacer for page numbers away from each other (ellipsis = &amp;#133;)
		addKeyboard    : true,                     // use left,right,up,down,pageUp,pageDown,home, or end to change current page
		pageKeyStep    : 10                        // page step to use for pageUp and pageDown
	});

	// initialize tablesorter & pager
	$table
		.tablesorter({
			theme: 'blue',
			widgets: ['zebra', 'columns', 'filter']
		})
		.tablesorterPager({
			// target the pager markup - see the HTML block below
			container: $pager,
			size: 10,
			output: 'showing: {startRow} to {endRow} ({filteredRows})'
		});

    });
    </script>
{% endblock %}

{% block main %}
<h1>Change Log</h1>
<table id="myTable" class="tablesorter">
    <thead>
      <tr>
          <th>Time</th>
          <th>User</th>
          <th>Description</th>
          <th>School</th>
      </tr>
    </thead>
<tbody>
<!-- login.views.update_log starts here! -->

<tr>
<td>2017-08-07 10:32:00.533869</td>
<td>peter</td>
<td>CSV files created for School Andover High School</td>
<td>Andover High School</td>
</tr>

<tr>
<td>2017-08-07 10:25:10.208717</td>
<td>peter</td>
<td>User peter logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-04 11:56:42.377311</td>
<td>energizeandover</td>
<td>Panel Name Change: MWSB -->MSWB. All Affected Circuits and Panels renamed accordingly. </td>
<td>Andover High School</td>
</tr>

<tr>
<td>2017-08-04 11:54:55.829753</td>
<td>energizeandover</td>
<td>School Andover High School created.</td>
<td>Andover High School</td>
</tr>

<tr>
<td>2017-08-04 11:54:24.559367</td>
<td>energizeandover</td>
<td>User energizeandover logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-04 11:54:14.889930</td>
<td>energizeandover</td>
<td>User energizeandover logged out.</td>
<td></td>
</tr>

<tr>
<td>2017-08-04 11:53:58.183359</td>
<td>energizeandover</td>
<td>User energizeandover logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:46:55.540130</td>
<td>admin</td>
<td>User admin logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:41:08.323592</td>
<td>admin</td>
<td>User admin logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:41:04.392491</td>
<td></td>
<td>User energize_andovercreated by User admin</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:40:28.817837</td>
<td>admin</td>
<td>User admin logged out.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:40:25.582700</td>
<td>admin</td>
<td>User admin logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:40:22.928405</td>
<td>admin</td>
<td>User admin logged out.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:39:33.353169</td>
<td>admin</td>
<td>Panel Name Change: MWSB -->MSWB. All Affected Circuits and Panels renamed accordingly. </td>
<td>Andover High School</td>
</tr>

<tr>
<td>2017-08-03 12:38:19.892578</td>
<td>admin</td>
<td>School Andover High School created.</td>
<td>Andover High School</td>
</tr>

<tr>
<td>2017-08-03 12:37:22.800124</td>
<td>admin</td>
<td>User energize_andover was deleted</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:37:16.629898</td>
<td>admin</td>
<td>User admin logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:37:08.644601</td>
<td>energize_andover</td>
<td>User energize_andover logged out.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:36:07.802644</td>
<td>energize_andover</td>
<td>User energize_andover logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:35:49.542460</td>
<td>energize_andover</td>
<td>User energize_andover logged out.</td>
<td></td>
</tr>

<tr>
<td>2017-08-03 12:30:11.987385</td>
<td>energize_andover</td>
<td>User energize_andover logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-01 12:44:15.041617</td>
<td>peter</td>
<td>Panel Name Change: MWSB -->MSWB. All Affected Circuits and Panels renamed accordingly. </td>
<td>Andover High School</td>
</tr>

<tr>
<td>2017-08-01 12:38:56.141753</td>
<td>peter</td>
<td>School Andover High School created.</td>
<td>Andover High School</td>
</tr>

<tr>
<td>2017-08-01 12:38:24.434093</td>
<td>peter</td>
<td>School Andover High School deleted</td>
<td>Andover High School</td>
</tr>

<tr>
<td>2017-08-01 11:59:07.876453</td>
<td>peter</td>
<td>User peter logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-01 11:58:15.383726</td>
<td>peter</td>
<td>User peter logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-08-01 11:46:46.102295</td>
<td>peter</td>
<td>User peter logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-07-29 14:51:54.583765</td>
<td>peter</td>
<td>Device Notes Change:  -->TEST</td>
<td>Andover High School</td>
</tr>

<tr>
<td>2017-07-26 13:13:53.032267</td>
<td>peter</td>
<td>School AHS deleted</td>
<td>AHS</td>
</tr>

<tr>
<td>2017-07-26 13:03:38.449957</td>
<td>peter</td>
<td>School AHS created.</td>
<td>AHS</td>
</tr>

<tr>
<td>2017-07-26 13:03:11.188301</td>
<td>peter</td>
<td>User peter logged in.</td>
<td></td>
</tr>

<tr>
<td>2017-07-26 13:03:09.859748</td>
<td>peter</td>
<td>User peter logged out.</td>
<td></td>
</tr>

</tbody>
</table>


{% endblock %}