{% extends "pages/richtextpage.html" %}

{% block main %}
{% if form %}
<h1>Editing: {{circuit.Name}}</h1>
<form action=""  method="POST" enctype="multipart/form-data" name="Name">
    {% csrf_token %}
    <p>Name:</p>
    <p><input type="text" value = "{{circuit.Name}}" name = "Name"></p>
    <p><input type="submit" class="btn-xs" value="Save Name" name="Save Name" /></p>
</form>
<form action=""  method="POST" enctype="multipart/form-data" name="Number">
    {% csrf_token %}
    <p>Number:</p>
    <p><input type="text" value = "{{circuit.Number}}" name = "Number"></p>
    <p><input type="submit" class="btn-xs" value="Save Number" name="Save Number" /></p>
</form>
<form action=""  method="POST" enctype="multipart/form-data" name="Notes">
    {% csrf_token %}
    <p>Notes:</p>
    <p><input type="text" value = "{{circuit.Notes}}" name = "Notes"></p>
    <p><input type="submit" class="btn-xs" value="Save Notes" name="Save Notes" /></p>
</form>
<form action=""  method="POST" enctype="multipart/form-data" name="Devices">
    {% csrf_token %}
    <p>Devices:</p>
    {% for dev in devices %}
    <p>{{dev.Name}}<input type="submit" class="btn-xs" value="Delete" name="{{dev.Name}}" /></p>
    {% endfor %}
</form>
<li><a href="{% url 'energize_andover:circuit' circuit.id %}">Return to Circuit</a></li>
{% else %}
<h1> Circuit: {{circuit.FQN}} ({{circuit.Name}})</h1>
<p>School: <a href= "{% url 'energize_andover:school' school.id %}" >{{school.Name}}</a></p>

<p>Name: {{circuit.Name}}</p>
<p>Number: {{circuit.Number}}</p>
<p>FQN: {{circuit.FQN}}</p>
<p>Panel: <a href= "{% url 'energize_andover:panel' circuit.Panel.id %}" >{{circuit.Panel.FQN}} ({{circuit.Panel.Name}})</a></p>
{% if not devices.count == 0 %}
<p>Devices:</p>
{% for device in devices %}
    <li><a href = "{% url 'energize_andover:device' device.id %}">{{device.to_string}}</a></li>
{% endfor %}
{% else %}
    <p>Device: Spare</p>
{% endif %}
{% if not Rooms.count == 0 %}
<form>
<p>Rooms:</p>
{% for room in Rooms %}
    <li><a href="{% url 'energize_andover:room' room.id %}">{{room.to_string}}</a></li>
{% endfor %}

</form>
{% else %}
<p>Room: No Room data </p>
{% endif %}
{% if not circuit.Notes == None %}
<p>Notes: {{circuit.Notes}}</p>
{% else %}
<p>Notes: No Notes </p>
{% endif %}
<form action="{% url 'energize_andover:circuit_editing' circuit.id %}"  method="POST" enctype="multipart/form-data" name="Edit">
    {% csrf_token %}
    <p><input type="submit" class="btn-xs" value="Edit" name="Edit" /></p>
</form>
{% endif %}
{% endblock %}