{% extends "pages/richtextpage.html" %}
{% block main %}
<h1>Device: {{device.Name}}</h1>
<p>School:<a href= "{% url 'energize_andover:school' school.id %}">{{school.Name}}</a></p>
<p>Circuit:</p>
{% if not circuit.count == 0 %}
{% for circ in circuit %}
<li><a href= "{% url 'energize_andover:circuit' circ.id %}" >{{circ.to_string}}</a></li>
{% endfor %}
{% else %}
<p>No Circuit Data</p>
{% endif %}
<p>Power: {{device.Power}}</p>
{% if not room == None %}
<p>Room: <a href = "{% url 'energize_andover:room' room.id %}">{{room.to_string}}</a></p>
{% endif %}
<li>Zone: {{device.Location}}</li>
{% if not assoc_device == None %}
<p>Associated Device:</p>
<li><a href = "{% url 'energize_andover:device' assoc_device.id %}">{{assoc_device.to_string}}</a></li>
{% endif %}
{% endblock %}