{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>Dictionary</h1>
<p><a href="{% url 'energize_andover:electric' %}">Return to School Select</a></p>
<p>This dictionary is a list of definitions for the shorthand found relative to the many functions found on rooms and devices</p>
<p></p>
<p></p>
<p>Rooms:</p>
<li>CR: Classroom</li>
<li>Corr: Corridor</li>
<li>Stor: Storage</li>
<li>FIFC: ?</li>
<li>Team: Team room, part of locker room</li>
<li>Mech: Mechanical Room</li>
<li>Equip: Equipment Room</li>
<li>Training: Athletic Trainer's Office</li>
<li>Off: Office</li>
<li>Bath: Bathroom</li>
<li>Girl's: Girl's Bathroom</li>
<li>Boy's: Boy's Bathroom</li>
<li>Women: Woman's Bathroom</li>
<li>Men: Men's Bathroom</li>
<li>Vest: Vestibule/Lobby</li>
<li>Emergency Electric: Electric Supply Shutoff</li>
<li>Graph: Graphic Design</li>
<li>CADD: Computer Aided Design</li>
<li>Conf: ?</li>
<li>SDE 2: ?</li>
<li>Jan: Custodial Office</li>
<li>Mach Room: Machine Room</li>
<li>Elect. Rm: Electrical Room</li>
<li>Del. Area: Delivery Bay</li>
<li>Trash: Trash Collection Room</li>
<li>Refrig: Refrigerator</li>
<li>Storeroom: Food Storage Area</li>
<li>Yearbook: Yearbook Club Area</li>
<li>Kitch Office: Kitchen Office</li>
<li>Kitch Lockers: Kitchen Lockers</li>
<li>Dishwash: Dishwashing Space</li>
<li>Newsp: Newspaper Production Room</li>
<li>Team Tch: Teacher's Lounge</li>
<li>A.A.P.: ?</li>
<li>Y.C.: ?</li>
<li>TV: Andover TV Studio</li>
<li>Elevr Mach: Elevator Machine Room</li>
<li>TFL: ?</li>
<li>Fitness: Fitness Area W/ Weights & Equipment</li>
<li>P.E.: Physical Education Room</li>
<li>Concessions: Concessions Stand</li>
<li>General Reception: Office Waiting Room</li>
<li>WK: ?</li>
<li>DF: ?</li>
<li>Comp: Computer Lab</li>
<li>Tech: Technology Lab</li>
<li>Multi Purpose: Space Designed To Be Flexible</li>
<li>Library Stack: Bookshelves</li>
<li>Desk: ?</li>
<li>Work: ?</li>
<li>Attn Off: ?</li>
<li>Reg: Registrar's Office</li>
<li>Clerk: Guidance Staff Clerk</li>
<li>Career Cntr: Career Counseling Center</li>
<li>Rec: ?</li>
<li>VP: Vice Principal</li>
<li>#: Office Number #</li>
<li>Health: Nurse's Office</li>
<li>Reception: Waiting Area</li>
<li>Exam: Examination Room (Nurse)</li>
<li>Cot: Cot Room (Nurse)</li>
<li>Eye/ Ear: Eye and Ear Exam Room (Nurse)</li>
<li>Tutor: Tutoring Room</li>
<li>Book Stor: Book Storage Room</li>
<li>FAC: Faculty Room</li>
<li>Prevoc: ?</li>
<li>F.I. W: Women's Bathroom</li>
<li>F.I. M: Men's Bathroom</li>
<li>Fac Din: Faculty Dining Area</li>
<li>Stair Vestibule: Stair Lobby</li>
<li>Sp Ed: Special Education Rooms</li>
<li>Sac: ?</li>
<li>PS_: ?</li>
<li>Lan. Lab: Language Lab</li>
<li>Comm Rm: Communications Room</li>
<li>MDF1: ?</li>
<li>E. SI: ?</li>
<li>Lab: Lab Room</li>
<li>PPFP: ?</li>
<li>Prep: Preparation Room</li>

<p></p>
<p>Devices:</p>
<li>AHU-#: Air Handling Unit #</li>
<li>F-#: Fan #</li>
<li>Spare: Unused</li>
<li>ACCU-#: Chiller #</li>
<li>Blank: Unused</li>
<li>UV: Uni Vent</li>
<li>Electric Range: ?</li>
<li>Air Condensor: Chiller</li>
<li>Cafeteria Sound Amplifier: Speakers</li>
<li>GFI: ?</li>
<li>Refrigerator Deli Line: Refigerators for the Deli</li>
<li>Jockey Pump: Drives Boilers</li>
<li>P-#: Pump #</li>
<li>ATC Air Compressor: Pneumatic Controls</li>
<li>RTU-#: Remote Terminal Unit # (?)</li>
<li>Safari: ?</li>
<li>By-Pass Relays: ?</li>
<li>CUH: ?</li>
<li>Voting Booths: ?</li>
<li>Alarm Relays: ?</li>
<li>Telepole: Telephone Pole</li>
<li>BB: Baseboard Heat</li>
<li>ICI repeater: ?</li>
<li>Recorder: ?</li>

{% endblock %}