{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>{{ title }}</h1>

{% if if_admin %}
    <p>Admin View</p>
    <form action=""  method="POST" enctype="multipart/form-data" name="Schools">
        {% csrf_token %}
        {% for schoo in schools %}
            <li><a href="{% url 'energize_andover:school' schoo.id %}">{{schoo.Name}}</a> <input type="submit" class="btn-xs" value="Delete School" name = "{{schoo.Name}}"></li>
        {% endfor %}
    </form >

    <form action=""  method="POST" enctype="multipart/form-data" name="Start">
        {% csrf_token %}
        <p><input type="submit" class="btn-xs" value="Add New School" name="Start" /></p>
    </form>
    <form action=""  method="POST" enctype="multipart/form-data" name="Manage">
        {% csrf_token %}
        <p><input type="submit" class="btn-xs" value="Manage Users" name="Manage" /></p>
    </form>
{% else %}
    {% for schoo in schools %}
        <li><a href="{% url 'energize_andover:school' schoo.id %}">{{schoo.Name}}</a></li>
    {% endfor %}
{% endif %}

<form action="" method="get">
    <input type="submit" class="btn-xs" value="Log Out" name="mybtn">
</form>

{% endblock %}