{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>{{ title }}</h1>
{% if deleted == True %}
    <form action=""  method="POST" enctype="multipart/form-data" name="Confirm">
        {% csrf_token %}
        <p>Are you sure you want to delete?
        <p>Enter Username and Password to confirm:</p>
        <p>Username: <input type="text" value = "Username" name = "Username"></p>
        <p>Password: <input type="password" value = "Password" name = "Password"></p>
        <p><input type = "hidden" name = "school" value = "{{school}}"></p>
        <p><input type="submit" class="btn-xs" value="Confirm" name="Confirm" /></p>
    </form>
{% elif if_admin %}
    <p>Admin View</p>
    <form action=""  method="POST" enctype="multipart/form-data" name="Schools">
        {% csrf_token %}
        {% for schoo in schools %}
            <li><a href="{% url 'energize_andover:school' schoo.id %}">{{schoo.Name}}</a> <input type="submit" class="btn-xs" value="Delete School" name = "{{schoo.id}}"></li>
        {% endfor %}
    </form >

    <form action=""  method="POST" enctype="multipart/form-data" name="Start">
        {% csrf_token %}
        <p><input type="submit" class="btn-xs" value="Add New School" name="Start" /></p>
    </form>
    <form action=""  method="POST" enctype="multipart/form-data" name="Manage">
        {% csrf_token %}
        <p><input type="submit" class="btn-xs" value="Manage Users" name="Manage" /></p>
    </form>
    <p><a href="{% url 'energize_andover:changelog'%}">Inspect Log of Edits</a></p>
{% else %}
    {% for schoo in schools %}
        <li><a href="{% url 'energize_andover:school' schoo.id %}">{{schoo.Name}}</a></li>
    {% endfor %}
{% endif %}

<form action="" method="GET">
    <input type="submit" class="btn-xs" value="Log Out" name="mybtn">
</form>

{% endblock %}