{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>School Adding</h1>
{% if form %}

<form action="" method="POST" enctype="multipart/form-data" name="parse">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <P>{{ form.New_School.label }} {{ form.New_School }}</P>
    <p>
        {{ form.Room_File.label }} {{ form.Room_File.help_text }}
        {{ form.Room_File.errors }} {{ form.Room_File }}
    </p>
    <p>
        {{ form.Panel_File.label }} {{ form.Panel_File.help_text }}
        {{ form.Panel_File.errors }} {{ form.Panel_File }}
    </p>
    <p>
        {{ form.Device_File.label }} {{ form.Device_File.help_text }}
        {{ form.Device_File.errors }} {{ form.Device_File }}
    </p>
    <p>
        {{ form.Device_Association_File.label }} {{ form.Device_Association_File.help_text }}
        {{ form.Device_Association_File.errors }} {{ form.Device_Association_File }}
    </p>
    <p>{{form.all_users.label}}{{form.all_users}}</p>
    <p><input type="submit" class="btn btn-default" value="Upload" name="parse" /></p>
</form>

{% else %}

<p>Data Added</p>
<li><a href="{% url 'energize_andover:school' school.id %}">View New School: {{school.Name}}</a></li>
{% endif %}
{% endblock %}