{% extends "pages/richtextpage.html" %}

{% block main %}
<h1> Room: {{room.Name}} </h1>
<p>School: <a href= "{% url 'energize_andover:school' school.id %}" >{{school.Name}}</a></p>

<li>Name: {{room.Name}}</li>
<li>Old Name: {{room.OldName}}</li>
<li>Type:<a href = "{% url 'energize_andover:dictionary' %}"> {{room.Type}}</a></li>


{% if not Panels.count == 0 %}
<form>
<p>Panels:
<select onchange="location = this.value">
    <option></option>
{% for panel in Panels %}
    <option value="{% url 'energize_andover:panel' panel.id %}">{{panel.FQN}} ({{panel.Name}})</option>
{% endfor %}
</select>
</p>
</form>
{% else %}
<p>Panel: No Panel data </p>
{% endif %}

{% if not Circuits.count == 0 %}
<form>
<p>Circuits:
<select onchange="location = this.value">
    <option></option>
{% for circuit in Circuits %}
    <option value="{% url 'energize_andover:circuit' circuit.id %}">{{circuit.FQN}} ({{circuit.Name}})</option>
{% endfor %}
</select>
</p>
</form>
{% else %}
<p>Circuit: No Circuit data </p>
{% endif %}
{% endblock %}