{% extends "pages/richtextpage.html" %}

{% block main %}
<h1> Room: {{room.Name}} </h1>
<p>School: <a href= "{% url 'energize_andover:school' school.id %}" >{{school.Name}}</a></p>

<li>Name: {{room.Name}}</li>
<li>Old Name: {{room.OldName}}</li>
<li>Type:<a href = "{% url 'energize_andover:dictionary' %}"> {{room.Type}}</a></li>


{% if not Panels.count == 0 %}
<form>
<p>Panels:</p>
    <ul>
{% for panel in Panels %}
    <li><a href="{% url 'energize_andover:panel' panel.id %}">{{panel.FQN}} ({{panel.Name}})</a></li>
{% endfor %}
</ul>
</form>
{% else %}
<p>Panel: No Panel data </p>
{% endif %}

{% if not Circuits.count == 0 %}
<form>
<p>Devices:</p>
<ul>
{% for circuit in Circuits %}
    <li><a href="{% url 'energize_andover:circuit' circuit.id %}">{{circuit.FQN}}  | {{circuit.Name}} | {{circuit.Function}}</a></li>
{% endfor %}
</ul>
</form>
{% else %}
<p>Devices: No Device data </p>
{% endif %}
{% endblock %}