{% extends "pages/richtextpage.html" %}

{% block main %}

<!-- bar with links to the different tables: -->




<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!--<div class="navbar navbar-fixed-top">-->
        <ul class="nav navbar-nav">
          <li>
              <a href="{% url 'energize_andover:table_sorting' school.id 'Devices' %}">Devices</a>
          </li>
          <li>
              <a href="{% url 'energize_andover:table_sorting' school.id 'Rooms' %}">Rooms</a>
          </li>
          <li>
              <a href="{% url 'energize_andover:table_sorting' school.id 'Closets' %}">Closets</a>
          </li>
          <li>
              <a href="{% url 'energize_andover:table_sorting' school.id 'Panels' %}">Panels</a>
          </li>
        </ul>
      <!--</div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
     <!--</div>-->
  </nav>

<h1> School: {{school.Name}} </h1>

{% if not Closets.count == 0 %}
<form>
<p>Closets:
<select onchange="location = this.value">
    <option>Old Name / New Name</option>
    {% for closet in Closets %}
        <option value="{% url 'energize_andover:closet' closet.id %}">{{closet.Old_Name}} / {{closet.Name}}</option>
    {% endfor %}
</select>
</p>
</form>
{% else %}
<p> Closets: No Closet Data</p>
{% endif %}

{% if not Panels.count == 0 %}
<form>
<p>Panels:
<select id = "panel_list" onchange="location = this.value">
    <option id = "None">FQN (Name)</option>
    {% for panel in Panels %}
        <option id = "{{panel.FQN}}" value="{% url 'energize_andover:panel' panel.id %}">{{panel.FQN}} ({{panel.Name}})</option>
    {% endfor %}
</select>
</p>
</form>
{% else %}
<p> Panels: No Panel Data </p>
{% endif %}

{% if not Rooms.count == 0 %}
<form>
<p>Rooms:
<select onchange="location = this.value">
    <option>Old Name / New Name / Type</option>
{% for room in Rooms %}
    <option value="{% url 'energize_andover:room' room.id %}">{{room.to_string}}</option>
{% endfor %}
</select>
</p>
</form>
{% else %}
<p> Rooms: No Room Data </p>
{% endif %}

{% if not Devices.count == 0 %}
<form>
<p>Devices:
<select onchange="location = this.value">
    <option>Name, Rm. #</option>
{% for device in Devices %}
    <option value="{% url 'energize_andover:device' device.id %}">{{device.to_string}}</option>
{% endfor %}
</select>
</p>
</form>
{% else %}
<p> Devices: No Device Data </p>
{% endif %}

{% load static %}
{% if not picture == None %}
<div id = "svgDiv">
    <object id="svgObj" data="{% static svg %}" type="image/svg+xml" width=1000 height=500>
        <img src = "{% static svg %}" width=1000 height=500>
    </object>
</div>

<script>
    var obj = null;
    window.onload=function(){
        obj = document.getElementById("svgObj");
        var svg = obj.contentDocument.documentElement;
        //console.log(svg)
        //var svg = intermediate.getElementsByTagNameNS("http://www.w3.org/2000/svg", "svg")[0];
        var panels = document.getElementById("panel_list").options;
        elements = svg.getElementsByTagName("a");
        for(i = 0; i < panels.length; i++){
            for (j = 0; j < elements.length; j++){
                try{
                    if (elements[j].id === panels[i].id){
                        elements[j].setAttribute('xlink:href', panels[i].value);

                        //alert(elements[j].getAttributeNS('http://www.w3.org/2000/xlink', 'xlink:href'));
                        }
                }
                catch(err){
                    //alert("There was a problem");
                }
            }

        }

    }




</script>

{% endif %}
<form action="{% url 'energize_andover:search' %}" method="GET" enctype="multipart/form-data">
  {% csrf_token %}
  <p>{{ form.entry.label }} {{ form.entry }}</p>
  <p>{{ form.panels.label }}: {{ form.panels }} (Acceptable Fields are: Name)</p>
  <p>{{ form.rooms.label }}: {{ form.rooms }} (Acceptable Fields are: Name, Old Name, Type)</p>
  <p>{{ form.circuits.label }}: {{ form.circuits }} (Acceptable Fields are: Device Name, Circuit Name)</p>
  <p>{{ form.closets.label }}: {{ form.closets }} (Acceptable Fields are: Name, Old Name)</p>
  <input type = "hidden" name = "school" value="{{school.id}}">

  <input type="submit" class="btn btn-default" value="Search">
</form>
<form action="{% url 'energize_andover:adder' %}" method="GET" enctype="multipart/form-data">
    <input type="hidden" name="school_choice" value="{{school.id}}">
    <input type="submit" class="btn btn-default" value="Add New Object to School" name = "Adder">
</form>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="submit" class="btn btn-default" value="Save School to Requisite CSV Files" name = "Saver">
</form>
<p><a href="{% url 'energize_andover:electric' %}">Return to School Select</a></p>

{% endblock %}