{% extends "pages/richtextpage.html" %}

{% block main %}
<h1> Search for {{title}}: </h1>
<p>In {{school}}</p>
{% if not panels|length == 0 %}
<p>Panels:</p>
{% for panel in panels %}
    <li> <a href="{% url 'energize_andover:panel' panel.id %}">{{panel.to_string}}</a></li>
{% endfor %}
{% endif %}

{% if not rooms|length == 0 %}
<p>Rooms:</p>
{% for room in rooms %}
    <li> <a href="{% url 'energize_andover:room' room.id %}">{{room.to_string}}</a></li>
{% endfor %}
{% endif %}

{% if not circuits|length == 0 %}
<p>Circuits: </p>
{% for circ in circuits %}
    <li><a href="{% url 'energize_andover:device' circ.id %}">{{circ.to_string}}</a></li>
{% endfor %}
{% endif %}

{% if not closets|length == 0 %}
<p>Closets:</p>
{% for closet in closets %}
    <li> <a href="{% url 'energize_andover:closet' closet.id %}">{{closet.to_string}}</a></li>
{% endfor %}
{% endif %}


<form action="{% url 'energize_andover:search' %}" method="GET" enctype="multipart/form-data">
  {% csrf_token %}
  <p>{{ form.entry.label }} {{ form.entry }}</p>
  <p>{{ form.panels.label }}: {{ form.panels }} (Acceptable Fields are: Name)</p>
  <p>{{ form.rooms.label }}: {{ form.rooms }} (Acceptable Fields are: Name, Old Name, Type)</p>
  <p>{{ form.circuits.label }}: {{ form.circuits }} (Acceptable Fields are: Device Name, Circuit Name)</p>
  <p>{{ form.closets.label }}: {{ form.closets }} (Acceptable Fields are: Name, Old Name)</p>
  <input type = "hidden" id = "school" name = "school" value="{{school}}">
  <input type="submit" class="btn btn-default" value="Search">
</form>

<li><a href="{% url 'energize_andover:school' schoo.pk%}">Return to {{school}}</a></li>
{% endblock %}