{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>{{ title }}</h1>

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <p>{{ form.graph_data.label }}</p>
  <p>{{ form.graph_data }}</p>
  <p>{{ form.parse_symbol.label }}</p>
  <p>{{ form.parse_symbol }}</p>
  <p>{{ form.total_graph.label }} {{ form.total_graph }}</p>
  <p>{{ form.multiplot.label }} {{ form.multiplot }}</p>
  <p>{{ form.graph_type.label }} {{ form.graph_type }}</p>
  <p>{{ form.graph_period.label }} {{ form.graph_period }}</p>
  <p>{{ form.graph_title.label }}</p>
  <p>{{ form.graph_title }}</p>
  <p>{{ form.y_axis_label.label }}</p>
  <p>{{ form.y_axis_label }}</p>
  <p><input type="submit" class="btn btn-default" value="Upload" /></p>
</form>
{% endblock %}