{% extends "pages/richtextpage.html" %}

{% block extra_js %}
    <!-- Pick a theme, load the plugin & initialize plugin -->

    <style>
	.left { float: left; }
	.right {
		float: right;
		-webkit-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-ms-user-select: none;
	}
	.pager .prev, .pager .next, .pagecount { cursor: pointer; }
	.pager a {
		text-decoration: none;
		color: black;
	}
	.pager a.current {
		color: #0080ff;
	}
	</style>

	<script>
	$(function(){
		$('table').tablesorter({
			widgets        : ['zebra', 'filter', 'columns'],
			usNumberFormat : false,
			sortReset      : true,
			sortRestart    : true
		});
	});
	</script>

    <script id="js">$(function(){

	// initialize custom pager script BEFORE initializing tablesorter/tablesorter pager
	// custom pager looks like this:
	// 1 | 2 … 5 | 6 | 7 … 99 | 100
	//   _       _   _        _     adjacentSpacer
	//       _           _          distanceSpacer
	// _____               ________ ends (2 default)
	//         _________            aroundCurrent (1 default)

	var $table = $('table'),
		$pager = $('.pager');

	$.tablesorter.customPagerControls({
		table          : $table,                   // point at correct table (string or jQuery object)
		pager          : $pager,                   // pager wrapper (string or jQuery object)
		pageSize       : '.left a',                // container for page sizes
		currentPage    : '.right a',               // container for page selectors
		ends           : 2,                        // number of pages to show of either end
		aroundCurrent  : 1,                        // number of pages surrounding the current page
		link           : '<a href="#">{page}</a>', // page element; use {page} to include the page number
		currentClass   : 'current',                // current page class name
		adjacentSpacer : '<span> | </span>',       // spacer for page numbers next to each other
		distanceSpacer : '<span> &#133; <span>',   // spacer for page numbers away from each other (ellipsis = &amp;#133;)
		addKeyboard    : true,                     // use left,right,up,down,pageUp,pageDown,home, or end to change current page
		pageKeyStep    : 10                        // page step to use for pageUp and pageDown
	});

	// initialize tablesorter & pager
	$table
		.tablesorter({
			theme: 'blue',
			widgets: ['zebra', 'columns', 'filter']
		})
		.tablesorterPager({
			// target the pager markup - see the HTML block below
			container: $pager,
			size: 10,
			output: 'showing: {startRow} to {endRow} ({filteredRows})'
		});

    });
    </script>
{% endblock %}

{% block main %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!--<div class="navbar navbar-fixed-top">-->
        <ul class="nav navbar-nav">
          <li>
              <a href="{% url 'energize_andover:table_sorting' school.id 'Devices' %}">Devices</a>
          </li>
          <li>
              <a href="{% url 'energize_andover:table_sorting' school.id 'Rooms' %}">Rooms</a>
          </li>
          <li>
              <a href="{% url 'energize_andover:table_sorting' school.id 'Closets' %}">Closets</a>
          </li>
          <li>
              <a href="{% url 'energize_andover:table_sorting' school.id 'Panels' %}">Panels</a>
          </li>
        </ul>
      <!--</div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
     <!--</div>-->
  </nav>

  <h1>{{ type }}</h1>
  <table id="myTable" class="tablesorter">
    <thead>
      <tr>
        {% if type == "Rooms" %}
          <th> Room Number </th>
        {% elif type == "Devices" %}
          <th>Name</th>
        {% elif type == "Closets" %}
          <th>Name</th>
        {% elif type == "Panels" %}
          <th>Name</th>
        {% endif %}

        {% if type == "Rooms" %}
          <th>Old Room Number</th>
        {% elif type == "Devices" %}
          <th>Power</th>
        {% elif type == "Closets" %}
          <th>Old Name</th>
        {% elif type == "Panels" %}
          <th>Voltage</th>
        {% endif %}

        {% if type == "Rooms" %}
          <th>Type</th>
        {% elif type == "Devices" %}
          <th>Location</th>
        {% elif type == "Panels" %}
          <th>Path</th>
        {% endif %}

        {% if type == "Devices" %}
          <th>Room</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% if type == "Panels" %}
        {% for model in model_obj %}
        <tr>
            <td><a href="{% url 'energize_andover:panel' model.id %}">{{ model.Name }}</a></td>
          <td>{{ model.Voltage }}</td>
          <td>{{ model.FQN }}</td>
        </tr>
        {% endfor %}
      {% endif %}
      {% if type == "Closets" %}
        {% for model in model_obj %}
        <tr>
            <td><a href="{% url 'energize_andover:closet' model.id %}">{{ model.Name }}</a></td>
          <td>{{ model.Old_Name }}</td>
        </tr>
        {% endfor %}
      {% endif %}
      {% if type == "Rooms" %}
        {% for model in model_obj %}
        <tr>
            <td><a href="{% url 'energize_andover:room' model.id %}">{{ model.Name }}</a></td>
          <td>{{ model.OldName }}</td>
          <td>{{ model.Type }}</td>
        </tr>
        {% endfor %}
      {% endif %}
      {% if type == "Devices" %}
        {% for model in model_obj %}
        <tr>
            <td><a href="{% url 'energize_andover:device' model.id %}">{{ model.Name }}</a></td>
          <td>{{ model.Power }}</td>
          <td>{{ model.Location }}</td>
          <td>{{ model.Room }}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

{% endblock %}