{% extends "pages/richtextpage.html" %}

{% block main %}
<h1>User: {{user.username}}</h1>
<p>Schools:</p>
<form action="" method="GET" enctype="multipart/form-data">
    {% for school in schools %}
        {% if school in authorized_schools %}
            <p><input type="checkbox" name="{{school.id}}" value="{{school.Name}}"  checked="checked"/> {{school.Name}}</p>
        {% else %}
            <p><input type="checkbox" name="{{school.id}}" value="{{school.Name}}"/> {{school.Name}}</p>
        {% endif %}
    {% endfor %}
<p>Permissions</p>
    {% if admin_permission in user_permission_list %}
        <p><input type="checkbox" name="is_admin" value="Is Admin" checked="checked"/> Admin</p>
    {% else %}
        <p><input type="checkbox" name="is_admin" value="Is Admin" /> Admin</p>
    {% endif %}
    {% if school_edit_permission in user_permission_list %}
        <p><input type="checkbox" name="can_edit" value="Can Edit Schools" checked="checked"/> Can Edit Schools</p>
    {% else %}
        <p><input type="checkbox" name="can_edit" value="Can Edit Schools" /> Can Edit Schools</p>
    {% endif %}
<p><input type="submit" class="btn" value="Save" name="save"></p>
</form>

{% endblock %}